.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
}

.card {
  width: 280px;

  &__imageWrapper {
    width: 100%;
    position: relative;
    &::after {
      content: '';

      position: absolute;
      right: 20px;
      bottom: 40px;
      width: 20px;
      height: 20px;

      background-image: url('../../../assets/arrow_right.png');
      background-repeat: no-repeat;
    }
  }

  &__name {
    margin-top: -10px;
    margin-left: 15px;
    color: rgba(48, 48, 48, 0.73);
    font-size: 15px;
  }
}
